<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/todoPage.js"></script>
    <title>todo</title>
  </head>
  <body class="body">
    <div id="textArea">
      <h2>MY TASKS</h2>
      <form class="title">
        <input type="checkbox" />
        <input type="text" class="heading" />
      </form>
    </div>
    <div id="index" class="index" id="noIndex">
      <div id="titleBar">
        <p>todo</p>
      </div>
      <form method="POST" class="project">
        <input placeholder="add Title" name="title" type="text" />
        <input type="submit" value="save" />
      </form>
      __ProjectName__
    </div>
    <div class="sideBar">
      <img src="../images/folder.png" width="50px" onClick="hideIndex()" />
    </div>
  </body>
</html>
