<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/index.js"></script>
    <title>todo</title>
  </head>

  <body class="body">
    <div id="textArea">
      <div class="header">
        <h1 class="appHeading">MY TASKS</h1>
        <input placeholder="search here" class="searchBar" required />
      </div>
      <div id="myAllTasks"></div>
    </div>

    <div id="index">
      <div id="titleBar">
        <p>Todo Lists</p>
      </div>
      <div class="newTodo">
        <input
          placeholder="add Title"
          type="text"
          id="titlePlace"
          class="textBox"
          required
        />
        <input type="button" value="save" id="saveTitle" />
      </div>
      <div class="dialogBox hidden">
        <div class="title">Are you sure to delete</div>
        <input type="button" value="delete" class="delete button" />
        <input type="button" value="cancel" class="cancel button" />
      </div>
      <div id="allTodos"></div>
    </div>

    <div class="sideBar">
      <a href="logout"><img src="../images/logout.png" width="50px"/></a>
      <div>__USERNAME__</div>
      <br />
      <img src="../images/folder.png" width="50px" id="fold" />
    </div>
  </body>
</html>
