<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/xhr.js"></script>
    <title>todo</title>
  </head>
  <body class="body">
    <div id="textArea">
      <h2>MY TASKS</h2>
      <div class="hidden myTasks">
        <div id="taskInput">
          <form class="title" method="POST">
            <input type="text" class="heading" id="task" required />
            <img src="../images/plusSign.png" width="3%" id="addButton" />
          </form>
        </div>
        <div id="todo"></div>
      </div>
    </div>

    <div id="index" class="index" id="noIndex">
      <div id="titleBar">
        <p>todo</p>
      </div>
      <form method="POST" class="project">
        <input placeholder="add Title" type="text" id="titlePlace" required />
        <input type="button" value="save" id="saveTitle" />
      </form>
      <div id="allTodos">
        __Project__
      </div>
    </div>

    <div class="sideBar">
      <img src="../images/folder.png" width="50px" id="fold" />
    </div>
  </body>
</html>
