.body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  text-align: left;
  justify-content: end;
  background-color: rgba(200, 200, 200, 0.5);
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
}

#textArea {
  width: 100vw;
  height: 99.9vh;
  overflow-y: scroll;
}

#indexBar {
  width: 35vw;
  height: 99.9vh;
  background-color: rgba(200, 200, 200, 0.6);
}

.sideBar {
  height: 97vh;
  padding: 2vh 1vw 1vh 1vw;
  background-color: rgba(147, 147, 147, 0.6);
}

.textBox {
  height: 2vh;
  width: 15vw;
  font-size: 1em;
  outline: none;
}
.newTodo {
  margin: 1vh 0 0 1vw;
  height: 5vh;
}

#titleBar {
  height: 5vh;
  font-size: 1.5em;
  font-weight: 200;
  background-color: rgba(142, 139, 139, 0.8);
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 0 2vh 1vw;
}

.button {
  -webkit-appearance: button;
  font-size: 1em;
  height: 30px;
  margin-left: 1vw;
  background-color: lightgray;
}
.saveButton {
  -webkit-appearance: button;
  font-size: 1em;
  height: 30px;
  margin-left: 1vw;
  background-color: rgb(228, 228, 228);
}
.todoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3vh;
  margin: 1vh;
  padding: 0.5vh 0 0 1vw;
  font-size: 1.2em;
  outline: none;
  background-color: rgba(182, 178, 178, 0.6);
}
.todoTitle:hover {
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.5);
}
.bin {
  height: 2.5vh;
  margin-right: 1vw;
  display: none;
}
.myTasks:hover {
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.5);
}

.myTasks {
  margin: 5vh 0 0 10vw;
  padding: 2vw;
  border: solid gray 1px;
  border-radius: 5px;
  width: 40vw;
}
.display {
  display: flex;
}
.todoTask:hover > img,
.todoTitle:hover > div > img {
  display: inline;
}

#addButton {
  margin: 2vh 0 0 2vw;
  height: 3vh;
}

.hidden {
  display: none;
}

.dialogBox {
  width: 100%;
  height: 10%;
  background-color: #cccccc;
  color: black;
}

.minus {
  height: 3vh;
  margin-top: 1vh;
  display: none;
}

.titleImg {
  width: 3%;
  height: 4%;
  margin: 2% 0 0 0;
}

.header {
  height: 7vh;
  display: flex;
  flex-direction: row;
}

.appHeading {
  margin-left: 3vw;
  font-weight: 500;
}

.searchBar {
  width: 20vw;
  margin: 3vh 0 0 30vw;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
  position: relative;
  font-size: 24px;
  font-weight: 200;
  word-spacing: 10px;
  color: black;
  background-color: transparent;
}
.taskName {
  width: 33vw;
  padding: 5px;
  padding-top: 1.7vh;
  font-size: 1.3em;
  font-weight: 200;
  border: none;
  outline: none;
  background-color: transparent;
}
.check {
  margin-top: 1.5vh;
  zoom: 1.5;
}
.checkedTaskName {
  font-style: italic;
  color: rgb(114, 114, 114);
}
.task {
  width: 25vw;
  margin-left: 2.5vw;
  border-bottom: 1px solid #aaa;
}
.title {
  font-size: 1.5em;
  outline: none;
}
.highlight {
  background-color: rgba(160, 160, 160, 0.6);
}

.check,
#addButton,
.sideBar > img,
.minus:hover,
.button,
.todoTitle,
.submitBlock,
.saveButton {
  cursor: pointer;
}

.popUpDivision {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(171, 171, 171, 0.4);
}
.popUpBox {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: 8px;
  margin-left: 35vw;
  padding: 2vw;
  position: relative;
  width: 20vw;
  top: 20vh;
  font-size: 1.3em;
  animation: animatezoom 0.6s;
  background: rgba(179, 179, 179, 0.3);
  color: black;
}
.helpBox {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: 8px;
  margin-left: 20vw;
  padding: 2vw;
  position: relative;
  width: 40vw;
  top: 10vh;
  font-size: 1.3em;
  animation: animatezoom 0.6s;
  background: rgba(179, 179, 179, 0.3);
  color: black;
}
.closeButton {
  display: flex;
  flex-direction: row-reverse;
}
.popUpBox:hover {
  box-shadow: 0 0 7px 1px rgba(101, 99, 99, 0.5);
}

.arrow {
  margin-left: 1vw;
  height: 4vh;
}
.helpButton {
  margin-left: 1vw;
  height: 3vh;
}
/* login and signIn page styles */

.homepage {
  text-align: center;
  margin: 0px 150px;
  font-family: 'Arial', sans-serif;
  background-color: rgba(200, 200, 200, 0.5);
}
.loginBlock,
.signInBlock {
  width: 30vw;
  margin: 5vh 0 0 23vw;
  padding: 3vh 0 5vh 0;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.2);
}
.loginBlock:hover {
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5);
}
.errorMessage {
  font-size: 1.2em;
  color: rgb(199, 0, 0);
}
.inputBlock {
  width: 20vw;
  margin: 3vh 0 0 0;
  padding: 1vh 0 0.5vh 0.5vw;
  font-size: 1.2em;
  font-weight: 200;
  border: none;
  outline: none;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  background: transparent;
}

.submitBlock {
  width: 20vw;
  height: 3vh;
  margin: 6vh 0 4vh 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 300;
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px solid #bbb;
  border-radius: 50px;
  outline: none;
}
.signInLink {
  text-decoration: none;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
}
.signInLink:hover {
  color: rgba(0, 0, 0, 1);
}
